.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
}

.explore {
  width: 100%;
  background: url(../img/explore-img-mobile.jpg), lightgray -585px -328px/416.246% 113.662% no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.explore-box_title {
  margin-bottom: 32px;
}
.explore-box_title-text {
  color: var(--Blue---Background, #010A20);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
}
.explore-box_shadow {
  width: 376px;
  height: 929px;
  opacity: 0.9;
  background: #020C21;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 900px;
}
.explore-box_shadow-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.explore-box_shadow-box-block {
  display: flex;
  flex-direction: column;
}
.explore-box_shadow-title {
  margin-top: 44px;
  margin-bottom: 44px;
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
}
.explore-box_shadow-subtitle {
  width: 314px;
  height: 70px;
  margin-bottom: 67px;
  color: var(--Text-Lighten, #E0E0E0);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.explore-box_shadow-numbers {
  width: 314px;
  height: 49px;
  margin-bottom: 5px;
  color: #DD2242;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
}

@media (min-width: 1200px) {
  .explore {
    background: url(../img/explore-img-dekstop.jpg), lightgray -585px -328px/416.246% 113.662% no-repeat;
    background-repeat: no-repeat;
  }
  .explore-box_shadow {
    width: 100%;
    height: 794px;
    opacity: 1;
    display: flex;
    justify-content: center;
    margin-top: 1186px;
  }
  .explore-box_shadow-box {
    flex-direction: row;
    margin-left: 100px;
  }
  .explore-box_shadow-box-block {
    align-items: center;
    margin-right: 127px;
  }
  .explore-box_shadow-title {
    font-size: 60px;
    line-height: 150%;
  }
  .explore-box_shadow-subtitle {
    height: 102px;
    font-size: 18px;
    line-height: 28px;
  }
  .explore-box_shadow-numbers {
    width: 137px;
    font-size: 42px;
    font-weight: 700;
    line-height: 49px;
  }
}
.slick-dots li.slick-active button:before {
  width: 26px;
  border-radius: 12px;
  background: red;
}

.slick-dots li button:before {
  opacity: 1;
  background: grey;
  content: "";
  height: 20px;
  width: 20px;
  margin-right: 12px;
  border-radius: 50%;
  font-size: 0 !important;
}

.slick-next:before {
  content: ">";
  font-size: 30px;
  font-weight: bold;
  color: #020b20;
}

.slick-prev:before {
  content: "<";
  font-size: 30px;
  font-weight: bold;
  color: #020b20;
}

.carousel {
  margin: 0 auto;
}

.photo img {
  width: calc(100% - 16px);
  height: 100%;
  max-width: 450px;
}