// SASS utils
@import "components/colors";
@import "components/footer";
@import "components/logo";
@import "utils/placeholders";
@import "utils/mixins";

// SASS comp


// SASS main
.footer {
    background: var(--Blue---Background, #010A20);
    display: flex;
    align-items: center;
    justify-content: space-around;

    .responsive {
        max-width: 1140px;
    }
}

// .footer .responsive {
//     max-width: 1140px;
// }

.site__logo {
    display: flex;
    // align-items: baseline;

    &--text {
        color: #FFF;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 91%;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        padding-top: 22px;
        width: 128px;
        display: flex;
        flex-wrap: wrap;
    }
}

.site_logo_text-span {
    color: #DD2242;
}

.site_logo_img {
    height: 66px;
    display: flex;
    padding-left: 70px;
    padding-top: 34px;
    // align-items: center;
}

.footer__list {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 124px;

    &--item {
        color: var(--main-white, #FFF);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: DM Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 1px;
        list-style-type: none;
        padding-right: 36px;
    }
}

.social {
    display: flex;
    justify-content: flex-end;
}

.footer_copyright_text {
    color: var(--main-white, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    display: flex;
    justify-content: flex-end;
}

// .footer_up_btn {
//     position: absolute;
//     right: 99px;
// }