.slick-dots li.slick-active button:before {
  width: 26px;
  border-radius: 12px;
  background: red;
}

.multiple-items.carousel{
  width: 1200px !important;
}

@media (max-width: 480px) {
  .multiple-items.carousel{
    width: 500px;
  }
}

.slick-dots li button:before {
  opacity: 1;
  background: grey;
  content: "";
  height: 20px;
  width: 20px;
  margin-right: 12px;
  border-radius: 50%;
  font-size: 0 !important;
}

.slick-next:before {
  content: ">" !important;
  font-size: 30px !important;
  font-weight: bold;
  color: #020b20;
}

.slick-prev:before {
  content: "<" !important;
  font-size: 30px !important;
  font-weight: bold;
  color: #020b20;
}

.carousel {
  margin: 0 auto;
}

.photo img {
  width: calc(100% - 16px);
  height: 100%;
  max-width: 450px;
}
